<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Suggestions</title>
</head>
<body>
    <h1>List of Suggestions</h1>
    
    <!-- Tableau pour afficher les suggestions -->
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>FULL NAME</th>
                <th>SUGGESTION</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</body>
</html>
